*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #ffffff;
}


nav {
    height: 80px;
    background-color: #083e7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);

}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 2rem;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;

}

.first_section {
    text-align: right;


}

.first_section h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 55px;

}

.first_section p {
    padding-right: 55px;
    padding-bottom: 300px;
    padding-left: 600px;
    line-height: 2;
    justify-content: space-between;

}

.hero1 {
    background-color:#1693e1;
}

.first_section img {
    position: absolute;
    left: 75px;
    top: 105px;
    width: 300px;
    height: 500px;
    border-radius: 8px;
}

.second_section {
    text-align: left;

}

.hero2 {
    background-color:#78b5f1;
}

.second_section p {
    padding-left: 55px;
    padding-bottom: 150px;
    padding-right: 600px;
    line-height: 2;
    justify-content: space-between;

}

.second_section h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 55px;

}

.second_section img {
    position: absolute;
    left: 700px;
    top: 450px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

.third_section {
    text-align: right;


}

.third_section h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 55px;

}

.third_section p {
    padding-right: 55px;
    padding-bottom: 150px;
    padding-left: 600px;
    line-height: 2;
    justify-content: space-between;

}

.hero3 {
    background-color:#a8d7f1;
}

.third_section img {
    position: absolute;
    left: 50px;
    top: 790px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
}



.fourth_section {
    text-align: left;

}

.hero4 {
    background-color:#9cbfe2;
}

.fourth_section p {
    padding-left: 55px;
    padding-bottom: 150px;
    padding-right: 600px;
    line-height: 2;
    justify-content: space-between;

}

.fourth_section h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 55px;

}
.fifth_section {
    text-align: right;


}

.fifth_section h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 55px;

}

.fifth_section p {
    padding-right: 55px;
    padding-bottom: 150px;
    padding-left: 600px;
    line-height: 2;
    justify-content: space-between;

}

.hero5 {
    background-color:#b6def4;
}

.fifth_section img {
    position: absolute;
    left: 50px;
    top: 790px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
}



footer {
    background-color: #083e7b;
    text-align: center;
    color: white;
    font-size: 20px;
}

p {
    font-size: 20px;
}